<h1>Topics</h1>

<p>
  <%= link_to "View All Posts", posts_path %>
</p>

<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, topic %></li>
  <% end %>
</ul>

<%= link_to "New Topic", new_topic_path %>
